<div class="center hero-unit shadow">
	<h1>
		This is the home page to the CRM app
	</h1>
	
	<h2>
		A CRM for small business that will be useful for most industries. A application so simple to use that you'd recommend it your grandma!</h2>

</div>